html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  color: #353837;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

pre,
code {
  font: inherit;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #353837;
}
